.card {
    border: 1px solid black;
    width: 250px;
    margin:0 auto;
    margin-bottom: 10px;
    margin-top: 5px;
    padding:10px;
    border-radius:5px;
  }
  span{
    color:red;
    font-size: 20px;
  }